html,
body {
  background-color: #eaeaea;
}

.back {
  position: relative;
  z-index: 0;
}

.front {
  z-index: 1;
}

.homeContainer {
  height: 100%;
  width: 100%;
  min-height: 100%;
  position: fixed;
}

/* label focus color */
.input-field input[type=text]:focus + label, .materialize-textarea:focus:not([readonly]) + label {
  color: #757575 !important;
 }

/* label underline focus color */
 .input-field input[type=text]:focus, .materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #ff8a80 !important;
  box-shadow: 0 1px 0 0 #ff8a80 !important;
 }